<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.muzplash">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/activity_settings_title"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <provider
            android:name=".provider.UnsplashArtProvider"
            android:authorities="io.github.muzplash.unsplashartprovider"
            android:description="@string/provider_description"
            android:exported="true"
            android:label="@string/provider_name"
            android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider" />
            </intent-filter>
            <meta-data
                android:name="settingsActivity"
                android:value="io.github.muzplash.ui.settings.SettingsActivity" />
        </provider>
    </application>

</manifest>